.tasks {
  width: 100%;
  height: 345px;
  -webkit-overflow-scrolling: touch;
}

.scroll {
  overflow-y: scroll;
}

.icon-holder button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0 3px;
  justify-content: center;
}

.icon-holder svg {
  font-size: 12px;
}

.tasks .check-box .status {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  background-color: #fff;
}

.tasks li {
  border-bottom: 1px solid #fff;
}

.tasks li a {
  text-decoration: none;
  color: #fff;
}

.tasks li h5 {
  text-align: start;
}

.tasks li .title {
  width: 120px !important;
}

.tasks input {
  width: 50px;
  size: 30px;
  border-radius: 3px;
}
.tasks span {
  font-size: 12px;
}

.status-radio li {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 2px;
  cursor: pointer;
}

.incomplete {
  border-color: rgb(241, 31, 31) !important;
  background-color: rgb(241, 31, 31) !important;
}

.ongoing {
  border-color: rgb(9, 185, 185) !important;
  background-color: rgb(9, 185, 185) !important;
}

.complete {
  border-color: rgb(50, 236, 33) !important;
  background-color: rgb(50, 236, 33) !important;
}
