.forgot-password {
  width: 300px;
}

.forgot-password input {
  display: block;
  font-size: 13px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  padding: 5px 10px;
  text-align: center;
}

.forgot-password .button {
  margin-top: 10px;
  width: 120px;
  font-weight: bold;
}
