.reset-password {
  width: 350px;
}

.reset-password input {
  display: block;
  font-size: 13px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  padding: 5px 10px;
  text-align: center;
}

.reset-password button {
  margin-top: 10px;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 12px;
}
