.signup {
  width: 350px;
}

.signup input {
  display: block;
  font-size: 13px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  padding: 5px 10px;
  text-align: center;
}

.signup button {
  font-weight: bold;
  /* font-size: 12px; */
}
