.update-info {
  width: 450px;
}

.update-info input {
  display: block;
  font-size: 13px;
  width: 300px;
  max-width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
}

.button {
  width: 180px;
}

.update-info button {
  margin-top: 10px;
  padding: 3px 10px;
  font-size: 13px;
  width: 130px;
  margin: 5px 0;
}
