.verify-reset-code {
  width: 350px;
}

.verify-reset-code input {
  display: block;
  font-size: 13px;
  width: 250px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
}

.verify-reset-code .input-holder {
  width: 250px;
  margin: 5px auto;
  position: relative;
}

.verify-reset-code .input-holder .validation {
  position: absolute;
  bottom: -1px;
  border-radius: 6px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.5s ease-in-out;
}

.verify-reset-code .input-holder .validation.wrong {
  width: 100%;
  background-color: rgb(243, 47, 47);
}

.verify-reset-code .input-holder .validation.valid {
  width: 100%;
  background-color: #009688;
}

.verify-reset-code button {
  margin-top: 10px;
  padding: 3px 10px;
}
