.side-bar {
  width: 300px;
  height: 100vh;
  margin-left: -300px;
  transition: transform 0.5s ease-in-out;
  z-index: 55;
  top: 0;
}

.side-bar svg {
  position: absolute;
  top: 20%;
  left: 300px;
  color: gray;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.side-bar .list {
  padding: 15px 0;
}

.side-bar .list li {
  width: 100%;
  margin: 5px 0;
}

.side-bar .list li a {
  width: 100%;
  display: block;
  position: relative;
  padding: 5px;
  background-color: rgb(145, 142, 142);
  color: #fff;
  text-decoration: none;
}

.side-bar li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: #837a7a3d;
  width: 0;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.side-bar li a:hover::before {
  width: 100%;
}
