.App {
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

/* Global classes*/
.container {
  width: 100%;
  height: calc(100vh - 97px);
}

.progress.fw {
  width: 100% !important;
}

.open-side-bar {
  margin-left: 300px;
}

button {
  transition: 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

button .loader {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
  border: 3px solid #3f3f3f;
  border-top: 3px solid #3498db;
  animation: spin 2s infinite linear;
  transition: 0.5s;
}

input {
  outline: none;
  border: none;
}

button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff47;
  width: 0;
  height: 0;
}

button:hover::before {
  animation: blowing 0.8s forwards linear;
}

a {
  transition: 0.5s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: rgb(65, 65, 199);
}

.input-holder {
  position: relative;
  width: 200px;
  margin: 5px auto;
}

.input-holder .progress {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #009688;
  width: 0;
  height: 3px;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
}

/* css animation*/
@keyframes blowing {
  from {
    width: 0;
    height: 0%;
  }
  to {
    width: 1000%;
    height: 1000%;
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    height: 1px;
  }
  from {
    transform: rotate(360deg);
    height: 15px;
  }
}
